@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Did you know Nico Harrison made the worst trade in NBA history?</h1>
    <img src="~/images/nicoHarrison.jpg" alt="Nico Harrison" height="400"/>
    <p>
        This dude right here, if you didnt already guess, is Nico Harrison the current General Manager of the Dallas Maveriks (for now). Brody sucks at his job
        to another level. He traded Luka Doncic, the most accomplished 25 year old in the history of basketball (you dont have to agree) for an injury prone super star, a role
        player, and a mediocre first round pic
    </p>
    <p>
        Here's the man himself, Nico traded, Luka Doncic. And here are some of his accolades:<br>
        5x All Star<br>
        5x First-Team All-NBA<br>
        2023-24 Scoring Champ<br>
        2023-24 WCF MVP<br>
        2018-19 ROY
    </p>

    <p>
        Heres Luka before and after the trade (this is my interpretation)
    </p>  
    <img src="~/images/HappyLuka.jpg" alt="Nico Harrison" height="400" />
    <img src="~/images/sadLuka.jpg" alt="Nico Harrison" height="400" />
</div>
